[submodule "external/rem"]
	path = external/rem
	url = https://github.com/chwayne/rem
[submodule "external/h11"]
	path = external/h11
	url = https://github.com/ducdetronquito/h11
[submodule "external/http"]
	path = external/http
	url = https://github.com/ducdetronquito/http
